.contenedor {
  background-color: #cccccc;
  width: 100vw;
  height: 100vh;
}

.login__contenedor {
  background-color: #ffffff;
}

.login__logo > img {
  height: 10rem;
}

.register_Methods {
  height: 1.6rem;
}
