@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// anterior #1d426b
$main-color: #163252;
$secondary-color: #1b589e;
$button-color: #c4820c;

$proyect-colors: (
  'main-color': $main-color,
  'secondary-color': $secondary-color,
  'button-color': $button-color,
);

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$theme-colors: map-merge($theme-colors, $proyect-colors);

@import '../node_modules/bootstrap/scss/bootstrap';
